.material-symbols-outlined {
    vertical-align: middle;
}

img {
    border: 1px solid black;
    width: 90%;
}
.img-wrapper {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}