.pixel-demo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid black;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.colors-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
}

.colors-wrapper span {
    border: 1px solid #424651;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.count {
    border: 1px solid #424651;
    margin: 5px;
    padding: 5px;
}

.color-link {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.color-link:hover {
    border: 1px solid var(--body-color);
}

.full {
    width: 95%;
    display: block;
    margin: 10px auto;
}