@if (showYear === 2025) {
    <app-navbar [year]="showYear" [showSearch]="false" />
}
@if (showYear !== 2025) {
    <app-navbar [year]="showYear" [showSearch]="true"/>
}
@if (showYear !== 2025) {
<main>
    <h2>Welcome to the {{showYear}} Canvas Stats page!</h2>
    <p>To see how you did during the event, enter your full username in the search bar above in the format
        username&#64;instance. It is case-sensitive and matches how your username is display on your profile.</p>
    @for (tag of yearOverview.tags; track tag) {
        @if (tag.type === 'p') {
            @for (paragraph of tag.content; track paragraph) {
                <p>{{paragraph}}</p>
            }
        }
        @if (tag.type === 'ul') {
            <ul>
                @for (username of tag.content; track username) {
                    <li>{{username}}</li>
                }
            </ul>
        }
        @if (tag.type == 'colorCounts') {
            <div class="colors-wrapper">
            @for (color of yearOverview.colorCounts; track color) {
                <span [className]="color.colorVariable" (click)="showColorIMG(color.colorVariable)">{{color.colorName}}: {{color.count}}</span>
            }
            </div>
        }
    }
    <section class="btn-wrapper">
        @for (link of yearOverview.links; track link) {
            <button [className]="link.classes" (click)="navigateTo(link.onClick)">{{link.linkText}}</button>
        }
    </section>
    <img [src]="yearOverview.finalCanvas.imageURL" [alt]="yearOverview.finalCanvas.imageAlt" class="full" />
</main>
}
@if (showYear === 2025) {
    <main>
        <div id="coming-soon">
            <h1>Canvas</h1>
            <img src="https://raw.githubusercontent.com/TheRealMonte/images/main/2025/logo2025.png" alt="2025" />
        </div>
        <p>A date for canvas 2025 has not yet been set.</p>
    </main>
}


<app-footer />